@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
	background: linear-gradient(-45deg, #eeb752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    font-family: 'Roboto Mono';
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1rem;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.menu{
    position: absolute;
    top: 1%;
    left: 1%;
    width: 15%;
    font-size: 1.5rem;
    padding: 5px 10px 10px 10px;
    background-color: rgb(29, 28, 28);
    color: rgb(194, 190, 190);
    border-radius: 5px;
    animation: side-grow 1s, appear 0.5s;
    overflow: hidden;
}
a{
    text-decoration: none;
    background-color: rgb(29, 28, 28);
    color: rgb(194, 190, 190);
}
.menu-btn{
    position: absolute;
    top: 1%;
    left: 1%;
    width: 1.3em;
    font-size: 3rem;
    text-align: center;
    background-color: rgb(29, 28, 28);
    color: rgb(194, 190, 190);
    border-radius: 5px;
    cursor: pointer;
}
.close-btn{
    background-color: rgb(29, 28, 28);
    color: rgb(194, 190, 190);
    cursor: pointer;
    font-size: 3rem;
}

.menu li{
    list-style-type: none;
}
@keyframes side-grow {
    0%{
        width: 0%;
        height: 0.5%;
    }
    30%{
        width: 15%;
        height: 0.5%;
    }
    100%{
        width: 15%;
    }
}
section{
    width: 95%;
    margin: 0 auto;
    text-align: center;
}

.bot-body{
    margin: 0 auto;
    margin-top: 50px;
    width: 300px;
    height: 500px;
    background: rgb(144, 232, 235);
    border-radius: 40%;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.61), 0 6px 20px 0 rgba(255, 255, 255, 0.61);
}
.bot-active{
    margin: 0 auto;
    position: relative;
    top: 20%;
    width: 80%;
    font-size: 90px;
    cursor: default;
    animation: appear 1s;
}
@keyframes appear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.eyes{
    margin: 0 auto;
    position: relative;
    display: flex;
    top: 20%;
    justify-content: space-around;
    width: 80%;
}
.mouth{
    margin: 0 auto;
    position: relative;
    display: flex;
    top: 20%;
    justify-content: space-around;
    width: 80%;
}
.bot-start{
    margin-top: 0 auto;
    padding-top: 40%;
    cursor: pointer;
}
.bot-start img{
    max-width: 150px;
}
.none{
    display: none;
}
.user-name-input,
.user-name-btn{
    outline: none;
    border-radius: 5px 0px 0px 5px;
    padding: .5em .25em;
    font-size: 2rem;
    border:1px solid black;
}
.user-name-btn{
    border-radius: 0px 5px 5px 0px;
    border: none;
}
.activity-btn{
    padding: .5em;
    font-size: 2rem;
    background-color: rgba(176, 152, 199, 0.61);
    border-radius: 5px;
    outline: none;
    border: none;
}
@media screen and (max-width: 800px){
    div{
        margin: 50px 0;
    }
}